* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  width: 100%;
}
.aprMain img,svg {
  height: 40px;
  width: 40px;
}

.aprMain {
  display: flex;
  justify-content: left;
  align-items: center;
}

.containerMain {
  display: flex;
  justify-content: center;
  padding: 350px 0px;
}
.mainLeft {
  margin-right: 80px;
}
.mainLeft img {
  width: 365px;
  height: 372px;
}
.mainRight h1 {
  color: #ffff;
  font-size: 64px;
  font-family: "MuseoModerno", sans-serif;
  margin-right: 10px;
  line-height: 66px;
}
.mainRight div {
  margin-bottom: 8px;
}
.mainRight p {
  color: rgba(255, 255, 255, 0.7);
  width: 530px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 27px;
}
.mainRight a {
  color: #684ebf;
  margin: 0;
  text-decoration: none;
}
.mainRight h6 {
  font-family: "Jura";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  opacity: 0.6;
  margin-bottom: 8px;
}
.mainRight strong {
  color: #684ebf;
}
.animation {
  display: inline-block;
  border-right: 3px solid #535353;
  padding-right: 4px;
  max-width: 0;
  white-space: nowrap;
  overflow: hidden;
  animation: pisca normal infinite 0.8s, escrever normal 2s steps(55) both;
}

@keyframes pisca {
  100% {
    border-right-color: transparent;
  }
}
@keyframes escrever {
  100% {
    max-width: 100%;
  }
}
@media (max-width: 600px) {
  .mainLeft {
    margin: 0;
  }
  .mainLeft img {
    width: 235px;
    height: 242px;
  }
  .mainRight div h1.animation {
  }
  .mainRight div h1 {
    line-height: 36px;
    font-size: 34px;
    width: 100%;
  }
  .mainRight p {
    width: 300px;
    font-size: 12px;
    margin: 0 0 10px 0;
  }
  button {
    font-size: 12px;
    padding: 4px 8px;
  }
}
@media (max-width: 1055px) {
  .containerMain {
    flex-direction: column;
    align-items: center;
    padding: 150px 0px;
  }
  section.sectionSkill {
    height: 100%;
  }
  .mainLeft img {
    margin-bottom: 10px;
  }
  .mainRight h6 {
    display: none;
  }
}
