section.sectionProjects {
  background-color: #121216;
  height: 1000px;
  box-shadow: 0px 0px 19px 0px rgb(0 0 0 / 15%);
  padding: 150px 10px;
  width: 100%;
}
.sectionProjects img {
  width: 80%;
  height: 80%;
  cursor: pointer;
  border-radius: 10px;
}
img.buttonA{
  padding: 5px;
  margin-top: 20px;
  width: 170px;
  height: 70px;
}
img.buttonW{
  padding: 5px;
  width: 170px;
  height: 70px;
}
img.buttonG{
  padding: 5px;
  width: 170px;
  height: 70px;
}
.wiper-pagination {
  margin-bottom: 500px;
}
.containerSwiper {
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
}
.sectionProjects h1 {
  font-size: 43px;
  font-family: "MuseoModerno", sans-serif;
  /*font-family: "Jura", sans-serif;*/
  text-align: center;
  margin-bottom: 5vh;
}
.sectionProjects div.swiper {
  width: 600px;
  heigth: 200px;
}
.containerSectionProjects {
  max-width: 1080px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
div.containerMt img{
  margin-top: 20px;
}


@media (max-width: 600px) {
  section.sectionProjects {
    height: 100%;
    box-shadow: 0px 0px 19px 0px rgb(0 0 0 / 15%);
    padding: 150px 10px;
    width: 100%;
  }
  div.containerMt img{
    margin-top: 10px;
    width: 110px;
    height: 50px;
  }
  .sectionProjects img {
    width: 100%;
    height: 70%;
  }
  .sectionProjects h1 {
    font-size: 20px;
  }
}
