a {
  font-family: 'Jura', sans-serif;
  font-size : 18px;
  text-decoration: none;
  color: white;
  margin-right: 26px
}
h1{
  font-family: 'Jura', sans-serif;
  color: #ffffff;
  font-size : 33px;
}
strong{
  color: #E3C819;
}
header{
  background-color: #393737;
  box-shadow: 0px -20px 2rem #000000;
  height: 80px;
  padding: 0 10px;
}
.containerHeader {
  padding-top: 20px;
  max-width: 1200px;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-between;
}